section.info-block 
	.container 
		.info-block__wrap
			h2.info-block__title.title-center
				span Чистые и исправные
				| авто для каждого
			.swiper.info-block__content 
				.swiper-wrapper
					.swiper-slide.info-block__item
						img(src=require('../../images/s1.svg'), alt='')
						span Чистые, соответствуют требованиям для пассажирских перевозок, оборудованы и заправлены
					.swiper-slide.info-block__item
						img(src=require('../../images/s2.svg'), alt='')
						span Можно установить дополнительное оборудование (например, детское кресло)
					.swiper-slide.info-block__item
						img(src=require('../../images/s3.svg'), alt='')
						span С полным пакетом документов (СТС, ОСАГО, диагностическая карта, карточка перевозчика)
					.swiper-slide.info-block__item
						img(src=require('../../images/s4.svg'), alt='')
						span Все машины зарегистрированы в региональных и федеральных реестрах легковых такси
					.swiper-slide.info-block__item
						img(src=require('../../images/s5.svg'), alt='')
						span Все авто соответствуют цветовой схеме такси региона
