extends layout
block main 
	main
		.breadcrumbs.container
			a(href="/") Главная
			a(href="/news.html") Новости
			span 5 преимуществ аренды авто для такси: быстрый старт и высокий доход 
		section.new 
			.container 
				.new__wrap 
					.new__col-l
						span.new__category Свежее
					.new__col-r
						.new__head
							.new__info
								span 
									svg(width='16' height='16')
										use(href='#icn-calendar')
									| 02.05.2024
								span 
									svg(width='16' height='16')
										use(href='#icn-clock')
									| 1 мин.
							h2.new__title 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
							.new__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.new__pic
							img(src=require('../images/new-pic.jpg'), alt='')
							span.news__pic-label Автор фотографии: <a href="" target="_blank">Freepick</a>

		section.recomendation 
			.container 
				.recomendation__wrap
					h2.title-center Советуем посмотреть
					.swiper.swiper-recomendation
						.swiper-wrapper
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									.news-card__content
										span.news-card__category Свежее
										a(href="").last-news__name Название новости в одну-две строчки
										.last-news__info
											span 
												svg(width='16' height='16')
													use(href='#icn-calendar')
												| 02.05.2024
											span 
												svg(width='16' height='16')
													use(href='#icn-like')
												| 123
											span 
												svg(width='16' height='16')
													use(href='#icn-view')
												| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192
							.swiper-slide.last-news__card 
								img(src=require('../images/news-card.jpg'), alt='').last-news__thumb
								.news-card__content
									span.news-card__category Свежее
									a(href="").last-news__name Название новости в одну-две строчки
									.last-news__info
										span 
											svg(width='16' height='16')
												use(href='#icn-calendar')
											| 02.05.2024
										span 
											svg(width='16' height='16')
												use(href='#icn-like')
											| 123
										span 
											svg(width='16' height='16')
												use(href='#icn-view')
											| 192