extends layout
block main 
	main
		.breadcrumbs.container 
			a(href="/") Главная
			span Новости

		section.news 
			.container 
				.news__wrap 
					h2.title-center Новости
					.category-list 
						span.category-list__btn Все
						span.category-list__btn Рекомендуем
						span.category-list__btn Популярное
						span.category-list__btn Свежее
					.grid.news 
						.news-card.news-card__large.g1 	
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g2
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g3
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g4 	
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g5 	
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g6 	
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g7
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123
						.news-card.g8 	
							img.news-card__thumb(src=require('../images/news-thumb.jpg'), alt='')
							.news-card__content 
								span.news-card__category Свежее
								a(href="").news-card__name 5 преимуществ аренды авто для такси: быстрый старт и высокий доход
								.news-card__info
									span 
										svg(width='16' height='16')
											use(href='#icn-view')
										| 192
									span 
										svg(width='16' height='16')
											use(href='#icn-like')
										| 123

					.pagination 
						button.pagination__btn
							svg(width='16' height='16')
								use(href='#icn-arrow-left')
						a(href="") 1
						a(href="") 2
						span ...
						a(href="") 5  
						button.pagination__btn
							svg(width='16' height='16')
								use(href='#icn-arrow-right')